*{box-sizing: border-box; font-family: sans-serif; font-size:large;}

body{
    padding: 0;
    margin: 0;
    background:linear-gradient(to right,#00AAFF, #00FF6C);
}

.container{
    min-height: 100vh; display: flex;
    flex-direction: column;
    align-items: center;
}
/* .container{margin: 0 auto; position:absolute; left: 1rem; right: 1rem;} */

.display{
    margin: 5px; background-color: white;
    width: 400px;;
    min-height: 10vh;
    font-weight: bolder;
    border: 5px solid aquamarine;
}

.dis{padding: 10px;}

.numbers{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.clearAll, .res{
    grid-column: span 2;
}

.op, .num{
    background-color: rgba(255, 255, 255, 0.75);
}